# Michał Taczała

# Assignment 2 Data processing in R and Python

# 7.12.2023

# Importing packages

In [34]:
import pandas as pd
import os, os.path
import sqlite3
import tempfile
import numpy as np
import importlib


#importing this way to prevent saving in cashe old versions of functions
from importlib import reload
import Taczała_Michał_assignment_2

reload(Taczała_Michał_assignment_2)
from Taczała_Michał_assignment_2 import *

# Reading the data

In [28]:
Posts = pd.read_csv("../Posts.csv")
Comments = pd.read_csv("../Comments.csv")
PostLinks = pd.read_csv("../PostLinks.csv")
Users = pd.read_csv("../Users.csv")

# Creation of the database

In [29]:
baza = os.path.join(tempfile.mkdtemp(), "example.db")
if os.path.isfile(baza):  # if this file already exists...
    os.remove(baza)  # ...we will remove it
conn = sqlite3.connect(baza)  # create the connection
Comments.to_sql("Comments", conn)
PostLinks.to_sql("PostLinks", conn)
Posts.to_sql("Posts", conn)
Users.to_sql("Users", conn)

95922

# Compare results

## Query 1

``` sql
SELECT Location, COUNT(*) AS Count
FROM (
  SELECT Posts.OwnerUserId, Users.Id, Users.Location
  FROM Users
  JOIN Posts ON Users.Id = Posts.OwnerUserId
)
WHERE Location NOT IN ('')
GROUP BY Location
ORDER BY Count DESC
LIMIT 10
```

In [4]:
query_1_result = query_1_sql(conn).reset_index(drop=True)

In [5]:
pandas_1_result = solution_1(Posts, Users).reset_index(drop=True)

In [6]:
isFirstQueryEqual = (
    query_1_result.equals(pandas_1_result),
)

In [7]:
isFirstQueryEqual

(True,)

## Query 2

```sql
SELECT Posts.Title, RelatedTab.NumLinks FROM
(
  SELECT RelatedPostId AS PostId, COUNT(*) AS NumLinks
  FROM PostLinks
  GROUP BY RelatedPostId
) AS RelatedTab
JOIN Posts ON RelatedTab.PostId=Posts.Id
WHERE Posts.PostTypeId=1 ORDER BY NumLinks DESC
```

In [8]:
query_2_result = query_2_sql(conn).reset_index(drop=True)

In [35]:
pandas_2_result = solution_2(Posts, PostLinks).reset_index(drop=True)

In [36]:
isSecondQueryEqual = (
    query_2_result.equals(pandas_2_result),
)

In [37]:
isSecondQueryEqual

(True,)

In [12]:
query_2_result

                                                  Title  NumLinks
0     Is there a way to find out if I need a transit...      1157
1     Do I need a visa to transit (or layover) in th...      1012
2     Should I submit bank statements when applying ...       669
3     UK visa refusal on V 4.2 a + c (and sometimes ...       523
4     Should my first trip be to the country which i...       461
...                                                 ...       ...
8094  Why can't I reserve a seat on the Eurocity tra...         1
8095       Independent Research in the US under B1 visa         1
8096     2 round tickets plus 1 back ticket to Thailand         1
8097  Which flight search engines show the flight op...         1
8098  Does bought duty-free count towards cabin lugg...         1

[8099 rows x 2 columns]

In [38]:
pandas_2_result

                                                  Title  NumLinks
0     Is there a way to find out if I need a transit...      1157
1     Do I need a visa to transit (or layover) in th...      1012
2     Should I submit bank statements when applying ...       669
3     UK visa refusal on V 4.2 a + c (and sometimes ...       523
4     Should my first trip be to the country which i...       461
...                                                 ...       ...
8094  Why can't I reserve a seat on the Eurocity tra...         1
8095       Independent Research in the US under B1 visa         1
8096     2 round tickets plus 1 back ticket to Thailand         1
8097  Which flight search engines show the flight op...         1
8098  Does bought duty-free count towards cabin lugg...         1

[8099 rows x 2 columns]

## Query 3

```sql
SELECT Title, CommentCount, ViewCount, CommentsTotalScore, DisplayName, Reputation, Location 
FROM (
  SELECT Posts.OwnerUserId, Posts.Title, Posts.CommentCount, Posts.ViewCount, CmtTotScr.CommentsTotalScore
  FROM (
    SELECT PostId, SUM(Score) AS CommentsTotalScore FROM Comments
    GROUP BY PostId
  ) AS CmtTotScr
  JOIN Posts ON Posts.Id = CmtTotScr.PostId WHERE Posts.PostTypeId=1
) AS PostsBestComments
JOIN Users ON PostsBestComments.OwnerUserId = Users.Id
ORDER BY CommentsTotalScore DESC
LIMIT 10
```

In [14]:
query_3_result = query_3_sql(conn).reset_index(drop=True)

In [15]:
pandas_3_result = solution_3(Posts, Users, Comments).reset_index(drop=True)

In [16]:
isThirdQueryEqual = (
    query_3_result.equals(pandas_3_result),
)

In [17]:
isThirdQueryEqual

(True,)

## Query 4

```sql
SELECT DisplayName, QuestionsNumber, AnswersNumber, Location, Reputation, UpVotes, DownVotes
FROM (
  SELECT * FROM (
    SELECT COUNT(*) as AnswersNumber, OwnerUserId FROM Posts
    WHERE PostTypeId = 2
    GROUP BY OwnerUserId
  ) AS Answers 
  JOIN (
    SELECT COUNT(*) as QuestionsNumber, OwnerUserId FROM Posts
    WHERE PostTypeId = 1
    GROUP BY OwnerUserId
  ) AS Questions
  ON Answers.OwnerUserId = Questions.OwnerUserId 
  WHERE AnswersNumber > QuestionsNumber
  ORDER BY AnswersNumber DESC
  LIMIT 5
) AS PostsCounts
JOIN Users ON PostsCounts.OwnerUserId = Users.Id
```

In [18]:
query_4_result = query_4_sql(conn).reset_index(drop=True)

In [19]:
pandas_4_result = solution_4(Posts, Users).reset_index(drop=True)

In [20]:
isFourthQueryEqual = (
    query_4_result.equals(pandas_4_result),
)

In [21]:
isFourthQueryEqual

(True,)

## Query 5

```sql
SELECT Questions.Id, Questions.Title, BestAnswers.MaxScore,
Posts.Score AS AcceptedScore, BestAnswers.MaxScore-Posts.Score AS Difference
FROM (
  SELECT Id, ParentId, MAX(Score) AS MaxScore FROM Posts
  WHERE PostTypeId==2
  GROUP BY ParentId
) AS BestAnswers
JOIN (
  SELECT * FROM Posts
  WHERE PostTypeId==1 
) AS Questions
ON Questions.Id=BestAnswers.ParentId
JOIN Posts ON Questions.AcceptedAnswerId=Posts.Id
WHERE Difference>50
ORDER BY Difference DESC
```

In [22]:
query_5_result = query_5_sql(conn).reset_index(drop=True)

In [23]:
pandas_5_result = solution_5(Posts).reset_index(drop=True)

In [24]:
isFifthQueryEqual = (
    query_5_result.equals(pandas_5_result),
)

In [25]:
isFifthQueryEqual

(True,)

# Closing the database connection

In [26]:
conn.close()